.radio {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.radio-box {
    display: flex;
    align-items: center;
}

.radio-box input[type="radio"] {
    margin-right: 1.5rem;
    cursor: pointer;
}
.radio{
    background-color: white;
    padding: 4rem;
    margin-top: 1rem;
    position: relative;
}
.radio-box >label{
    padding: 0.5rem;
    font-size: 1.3rem;
    color: #808080bd;
}
.radio-box:nth-child(2){
    text-decoration: line-through;
    color: #808080d4;
}
/*.radio-box:nth-child(2):after{*/
/*    content: "";*/
/*}*/

.trash{
    padding-left: 5rem;
}